@font-face {
    font-family: "Terminus";
    src: url('TerminusTTFWindows.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Terminus", monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding-top: 1em;
    box-sizing: border-box;
    background-color: #000000;
    color: #ddd;
    overflow-wrap: break-word;
    max-width: 600px;
    margin: 0 auto;
    line-height: 0.9em;
}

a {
    color: #ddd;
    text-decoration: underline;
}

a:hover {
    color: #fff;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}